@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/roboto/roboto.ttf");
}

* {
    color: rgb(227, 227, 227);
    font-family: "Roboto", system-ui, sans-serif;
    font-size: 20px;
}

.hidden {
    display: none;
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.275);
}

.video-container {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

video {
    border: 2px solid #000;
    background: #000;
    border-radius: 8px;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.speaking video {
    border: 2px solid #444;
    background: radial-gradient(#111, #000);
}

.viewport {
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    z-index: 0;
    row-gap: 2px;
    padding: 2px;
}

.dialog {
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    z-index: 1;
    overflow-y: auto;
    align-items: center;
    justify-content: space-evenly;
}

.dialog input, .dialog select, .dialog option {
    color: black;
}

.dialog .screen {
    margin: 4px;
    padding: 4px;
    background: #ffffff14;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.dialog .screen:hover {
    background: #ffffff3b;
}

.dialog .screen .thumbnail {
    height: 256px;
    width: 256px;
    object-fit: contain;
    background: black;
}

.dialog .screen .name {
    width: 256px;
}
